{% extends 'base.html.twig' %}

{% block body %}

    {% for key, bet in bets %}
        <h4>id - {{ key }}</h4>
        <h4>Amount - {{ bet.bet }}</h4>
        {% for row in bet.date %}
            {{ dump(row) }}
            <h3>Date - {{ row.date }}</h3>
        {% endfor %}
        <br><br>
    {% endfor %}


        <a href="/auction">К списку Аукционов</a>



{% endblock %}