{% extends 'base.html.twig' %}

{% block body %}
{#{{ dump(bets) }}#}

    {% for key, bet in bets %}
        <h3>id - {{ key }}</h3>
        <h3>Amount - {{ bet.bet }}</h3>
        <h3>Date - {{ bet.date }}</h3>
    {% endfor %}


        <a href="/auction">К списку Аукционов</a>



{% endblock %}