{% extends 'base.html.twig' %}

{% block body %}



    <a class="btn btn-default" href="../" type="button"><div class="btn-group-vertical">Back</div></a>
    {{ form_start(form) }}
    {{ form(form) }}
    {{ form_end(form) }}

    <a href="../">Back to Auctions</a>
{% endblock %}