{% extends 'base.html.twig' %}

{% block title %}Hello AuctionController!{% endblock %}

{% block body %}
    <a class="btn btn-default" href="/create" type="button"><div class="btn-group-vertical">Create Auction</div></a>

    {% for row in auctions %}
    <h1>{{ row.name }}</h1>
    <h3>{{ row.minPrice }}</h3>
    {% endfor %}


{% endblock %}
