{% extends 'base.html.twig' %}
{% block body %}
    <h1>Here list of users</h1>
    <ul>
        {% for user in users %}
            <li>id - {{ user.id }}</li>
            <li>email - {{ user.email }}</li>
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}